extends layout.pug

block content
    
     form(action='/hello', method='post')
        label Please eneter your name: 
            input(type='text', name='username')
        button(type='submit') Submit


       
       

        