doctype html
head
	title this is mongo test
body
	header
		h1 this is mongo header
	section this is section 
		h2 params is #{name} with fisrt  #{getvar1} and second #{getvar2}
	footer this is footer section 